<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Store</title>
    <link rel="stylesheet" href="stylesheets/themes/test.min.css"/>
    <link rel="stylesheet" href="stylesheets/themes/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="stylesheets/jquery.mobile.structure-1.4.5.min.css"/>
    <script src="javascripts/jquery-1.11.1.min.js"></script>
    <script src="javascripts/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
	<form action="/doUpdate" data-ajax="false" method="post">
		<input type="hidden" name="bookID" value="<%= data[0].bookID %>">
		<input type="text" name="bookName" value="<%= data[0].bookName %>">
		<input type="number" name="bookPrice" value="<%= data[0].bookPrice %>">
		<input type="submit" value="Update Book">
	</form>
</body>
</html>