<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 

    <title>Homepage</title>

  
    <link href="../stylesheets/style.css" rel="stylesheet">
    

  
    
  </head>

  <body style="">

     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/home">Avtomobil</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
           <li class="nav-item active">
            <a class="nav-link" href="/Home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/Products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Price">Price</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main">

   

  
<div id="mainbox">
    <div class="card">
      <img src="../images/car1.jpg" alt="" />
      <h1>Speed1.0</h1>
      <p>Made for warming up or cooling down, these training shoes feature a breathable mesh upper that flexes and adapts to your feet. Its lacing system locks down the fit, while the split tongue creates an easy, step-in fit. Finished with a durable rubber outsole.</p>
      <input type="button" name="buy" value="Buy" class="buttonbuy">
    </div><br>
    <div class="card">
      <img src="../images/sepatu2.jpg" alt="" />
      <h1>predator</h1>
      <p>Made for warming up or cooling down, these training shoes feature a breathable mesh upper that flexes and adapts to your feet. Its lacing system locks down the fit, while the split tongue creates an easy, step-in fit. Finished with a durable rubber outsole.</p>
      <input type="button" name="buy" value="Buy" class="buttonbuy">
    </div><br>

    <div class="card">
      <img src="../images/sepatu3.jpg" alt="" />
      <h1>Zoom</h1>
      <p>Made for warming up or cooling down, these training shoes feature a breathable mesh upper that flexes and adapts to your feet. Its lacing system locks down the fit, while the split tongue creates an easy, step-in fit. Finished with a durable rubber outsole.</p>
      <input type="button" name="buy" value="Buy" class="buttonbuy">
    </div><br>
    <div class="card">
      <img src="../images/sepatu4.jpg" alt="" />
      <h1>Speed(sold out)</h1>
      <p>Made for warming up or cooling down, these training shoes feature a breathable mesh upper that flexes and adapts to your feet. Its lacing system locks down the fit, while the split tongue creates an easy, step-in fit. Finished with a durable rubber outsole.</p>
      <input type="button" name="buy" value="Buy" class="buttonbuy">
    </div><br>
    <div class="card">
      <img src="../images/sepatu3.jpg" alt="" />
      <h1>Jade(sold out)</h1>
      <p>Made for warming up or cooling down, these training shoes feature a breathable mesh upper that flexes and adapts to your feet. Its lacing system locks down the fit, while the split tongue creates an easy, step-in fit. Finished with a durable rubber outsole.</p>
      
    </div><br>

    <div class="card">
      <img src="../images/sepatu3.jpg" alt="" />
      <h1>Countour(sold out)</h1>
      <p>Made for warming up or cooling down, these training shoes feature a breathable mesh upper that flexes and adapts to your feet. Its lacing system locks down the fit, while the split tongue creates an easy, step-in fit. Finished with a durable rubber outsole</p>
          
    </div><br>

    <div class="card">
      <img src="../images/sepatu3.jpg" alt="" />
      <h1>yeezy(sold out)</h1>
     <p>Get that best-run-ever feeling even when the weather doesn't cooperate. These men's shoes deliver an energized ride while keeping wet conditions at bay. A boost™ midsole absorbs the power from your footstrike to release it at push-off, propelling you forward, while a water-repellent adidas Primeknit upper wraps your foot in support and comfort. </p>
     <
    </div> <br>

</div>



</body>
</html>